$primary-color: #61dafb;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.expenses-title {
  font-size: clamp(2rem, 5vw, 3rem);  
  color: $primary-color;      
  margin-bottom: 1rem; 
}

.expenses-table {
  width: 75%;
  border-collapse: separate;  
  border-spacing: 0 10px;      // 0 horizontal, 10px vertical spacing

  th, td {
    padding: 0.75rem;
    border: 1px solid #ccc;
    text-align: left;
  }

  th {
    background-color: #5f4343;
  }
}

.PlusButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.App-link {
  color: $primary-color;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
